@import "global_variables";
@import "mixins";

html {
     min-height:100%;
     position: relative;
}

body {
     background-image: url("../images/bg-top.jpg");
}

.global-container {
    .set-font;
    margin: 0 0 70px 0;

    .header {
        width: 100%;
        height: 100px;
        background-color: @color-header-bg;
        color: @color-header-text;
       // border: 15px solid @color-footer-bg;

        .text {
            margin: 0 auto;
            padding: 25px;
            text-align: center;
            font-size: 40px;
        }
    }

    .content-container {
        .set-div-parameters(1000px, auto, 7% auto, 20px);
        border-radius: 7px;
        border: 3px solid @color-content-bg;
        box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);

        h4 {
            margin: 0 0 10px 0;
        } 
    }

    .content-box {
            border-radius: 7px;
            border: 3px solid @color-content-bg;
            .set-div-parameters(980px, auto, 0 0 10px 0, 10px);

            &.new-note{
                .set-div-parameters(980px, 70px, 0 0 10px 0, 10px 10px 15px 10px);

                #newName {
                    .set-div-parameters(400px, 30px, 0, 0);
                    padding: 3px 7px;
                    font-size: 18px;
                    max-height: 100px;
                    border: none;
                    background-color: @color-input;
                    overflow: hidden;
                    word-wrap: break-word;
                }
            }

            &.list {
                margin: 0;
                    
                #tasks {
                    width: 980px;

                    th, td {
                         padding: 7px;
                        text-align: left;
                        border-bottom: 1px solid #ddd;

                        &:first-child {
                            width: 30px;
                            text-align: right;
                        }
                        
                        &:last-child {
                            width: 70px;
                        }
                    }

                    .completed {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
    }
   
    button {
        border: none;
        color: #ffffff;
        font-size: 18px;
        background: #ad8c49;
        padding: 7px 30px;
        text-decoration: none;

        &#newCreate {
            margin-left: 10px;
        }

        &.delete {
            font-size: 14px;
            background-color: #A18657;
        }

        &:hover {
            background: #E3CB7D;
            text-decoration: none;
        }
    }

    .footer {
	    width: 99%;
	    height: 70px;
	    position: absolute;
	    bottom: 0;
        background-color: @color-footer-bg;

        .content {
            padding: 20px 30px;
        }
    }
}

